<div class="content-wrapper">

  <section class="content" id="popular">
    <div class="container">
      <div class="box-header">
        <h2 class="margin-top-1 margin-bottom-1 text-primary" style="display: inline-block">All Films</h2>
        <a href="/admin/add/film" title="Click to add film" class="btn btn-default" style="position: absolute;right: 0px;top: 30px"><i class="fa fa-plus-circle"></i></a>
      </div>


      <% @film.each do |item| %>
        <div class="col-sm-6 table-bordered movie-item boxed" style="display: block;width: 100%;color:whitesmoke">
          <div class="col-sm-4">
            <img src=" <%= item.img_path %>"
                 alt=" <%= item.name %>" width="140" height="209">

          </div>
          <div class="col-sm-8">
            <h4><a title="item.name"><%= item.name %></a></h4>
            <p>
              <% if item.mat_rate != "" %>
                <img title="<%= item.mat_rate %>" alt="Certificate <%= item.mat_rate %>"
                     src="/assets/<%= item.mat_rate %>.png"/>
              <% end %>
              <time><%= item.length %> min</time>
              <span>-</span>

              <% @genres = item.genres; %>
              <% @genres.each do |genre| %>
                <% if !(genre == @genres[0]) %>
                  <% puts '|'; %>
                <% end %>
                <%= genre.name %>
              <% end %>
            </p>
            <div class="rating">
              <% for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
                <span>☆</span>
              <% end %>
            </div>
            <div>&nbsp;<%= item.avg_rate / 10 %></div>
            <p>
              <% if (item.description).length > 200 %>
                <%= item.description[0...200] %>
              <% else %>
                <%= item.description %>
              <% end %>
            <h5>Director:
              <!--              <a class="text-primary" href="/people/">-->
              <%# @directors = item.directors; %>
              <!--                <%#= @directors[0]['name'] %></a>-->
            </h5>
            <h5>Stars:
              <% $i = 0 %>
              <% @actors = item.actors; %>
              <% @actors.each do |actor| %>
                <a class="text-primary" href="/people/<%= actor.id %>"><%= actor.name %></a>
                <% if ++$i == 3 %>
                  <% break %>
                <% else %>
                <% end %>
              <% end %>
            </h5>

            <% if (item.trailer_path).present? %>
              <a href=" <%= item.trailer_path %>" class="btn btn-default">Watch Trailer</a>
            <% end %>
            <a href="/admin/edit/film/<%= item.id %>" title="Click to edit" class="btn btn-default btn-success">Edit</a>
            <button title="Click to remove" id="button_remove_film" class="btn btn-default btn-danger" value="<%= item.id %>">Remove</button>
          </div>
        </div>
      <% end -%>
      <%= will_paginate @film %>
    </div>
  </section>
</div>

