<div class="content-wrapper">

  <section class="content" id="popular">
    <div class="container">
      <div class="box-header">
        <h2 class="margin-top-1 margin-bottom-1 text-primary" style="display: inline-block">All Celebs</h2>
        <a href="/admin/add/celeb" title="Click to add celeb" class="btn btn-default" style="position: absolute;right: 0px;top: 30px"><i class="fa fa-plus-circle"></i></a>
      </div>

      <% @celebs.each do |item| -%>
        <div class="col-sm-6 table-bordered movie-item boxed" style="display: block;width: 100%;color:white">
          <div class="col-sm-4">
            <img src="<%= item.img_path %>"
                 alt="<%= item.name %>" width="140" height="209">
          </div>
          <div class="col-sm-8">
            <h4><a title="<%= item.name %>"><%= item.name %></a></h4>
            <div class="dob">Date of birth : <%= item.dob %></div>
            <div class="pob">Place of birth : <span><%= item.pob %></span></div>
            <div class="gender">
              <p>Gender :
                <% if item.gender == 2 %>
                  Male
                <% else %>
                  Female
                <% end %></p>
            </div>
            <p>Bio :
              <% if (item.bio).length > 200 %>
                <%= item.bio[0...200] %>
              <% else %>
                <%= item.bio %>
              <% end %>
            </p>
            <a href="/admin/edit/celeb/<%= item.id %>" title="Click to edit" class="btn btn-default btn-success">Edit</a>
            <button title="Click to remove" id="button_remove_celeb" class="btn btn-default btn-danger" value="<%= item.id %>">Remove</button>
          </div>
        </div>
      <% end -%>
      <%= will_paginate @celebs %>
    </div>
  </section>
</div>

<script>
    jQuery(document).ready(function () {
        $('button#button_remove_celeb').click(function () {
            var celeb_id = $(this).val();
            var self = this;
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
            if (confirm('Are you sure you want to delete this celeb?')) {
                $.ajax({
                    url: '/remove_celeb',
                    type: 'GET',
                    data: {
                        celeb_id: celeb_id
                    },
                    contentType: "application/x-www-form-urlencoded",
                    success: function () {
                        $(self).parent().parent().hide('slow', function () {
                            $(self).parent().parent().remove();
                        });
                    },
                    error: function () {
                        alert("Delete Error!");
                    }
                });
            }
        })
    })
</script>