    <div class="content-wrapper">

        <section class="content-header">
            <h1>
                ADMIN bhTV
                <small>form</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Films</a></li>
                <li class="active"> films</li>
            </ol>Edit
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">

                <div class="col-md-6 col-md-offset-3">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Edit Film Form</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body" id="edit-film">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-2 control-label">Name</label>

                                    <div class="col-sm-10">
                                      <input type="hidden" class="form-control" id="inputId3" placeholder="id" name="id" value="<%= @film.id %>">
                                        <input type="text" class="form-control" id="inputName3" placeholder="Name" name="name" value="<%=@film.name %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputReleased3" class="col-sm-2 control-label">Released Date</label>

                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="inputReleased3" placeholder="Released Date" name="released_date" value="<%=@film.released_date %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputDescription3" class="col-sm-2 control-label">Description</label>

                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="3" placeholder="Enter ..." id="inputDescription3" name="description"><%=@film.description %></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputImage3" class="col-sm-2 control-label">Image Path</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputImage3" placeholder="Image Path" name="img_url" value="<%=@film.img_path %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputTrailer3" class="col-sm-2 control-label">Trailer Path</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputTrailer3" placeholder="Trailer Path" name="trailer_url" value="<%=@film.trailer_path %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputLength3" class="col-sm-2 control-label">Length</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputLength3" placeholder="Length" name="length" value="<%=@film.length %>">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-default">Cancel</button>
                                <button type="button" class="btn btn-info pull-right" id="editFilmSubmitChange">Save Changes</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#editFilmSubmitChange').click(function () {

                var film_id = document.getElementById("inputId3").value;
                var name = document.getElementById("inputName3").value;
                var released_date = document.getElementById("inputReleased3").value;
                var description = document.getElementById("inputDescription3").value;
                var img = document.getElementById("inputImage3").value;
                var trailer = document.getElementById("inputTrailer3").value;
                var length = document.getElementById("inputLength3").value;

                $.ajaxSetup({
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                });

                console.log(film_id ,name, released_date, description, img, trailer, length);
                if(film_id != '' && name != '' && released_date != '' && description != '' && img != '') {
                    $.ajax({
                        url: '/edit_film_process',
                        datatType: 'json',
                        type: 'GET',
                        data: {
                            film_id : film_id,
                            name: name,
                            released_date: released_date,
                            description: description,
                            img: img,
                            trailer: trailer,
                            length: length,
                        },
                        contentType: "application/x-www-form-urlencoded",

                        success: function () {
                            alert("Film " + name + " was successfully edited!");
                            window.location.href = '/admin/all_film';
                        },
                        error: function () {
                            alert("Error!!!!");
                        }
                    });
                } else {
                    alert("Please complete all fields!");
                }
            });
        })

    </script>